<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2009 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<plugin>
  <extension point="org.eclipse.debug.ui.debugModelPresentations">
    <debugModelPresentation
        class="org.chromium.debug.ui.JsDebugModelPresentation"
        id="org.chromium.debug">
    </debugModelPresentation>
  </extension>

  <extension point="org.eclipse.core.variables.valueVariables">
    <variable
        initialValue="9222"
        name="org.chromium.debug.ui.chromium_debug_port"
        description="ChromeDevTools Protocol connection port">
    </variable>
    <variable
        initialValue="Debug JavaScript"
        name="org.chromium.debug.ui.chromium_project_name"
        description="Default JavaScript source project name">
    </variable>
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        id="org.chromium.debug.ui.LaunchType"
        delegate="org.chromium.debug.ui.launcher.LaunchType"
        modes="debug"
        name="%launchName"
        sourceLocatorId="org.chromium.debug.ui.sourceLookupDirector"
        sourcePathComputerId="org.chromium.debug.ui.sourcePathComputer"
        delegateName="Debug Chromium JavaScript"
        delegateDescription="JavaScript debugger for Chromium">
    </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        id="org.chromium.debug.ui.LaunchConfigTypeImage"
        configTypeID="org.chromium.debug.ui.LaunchType"
        icon="res/chromium_16.png">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.chromium.debug.ui.LaunchType"
        class="org.chromium.debug.ui.launcher.LaunchTabGroup"
        id="org.chromium.debug.ui.LaunchTabGroup">
    </launchConfigurationTabGroup>
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator name="JavaScript Source Lookup Director"
        class="org.chromium.debug.ui.editors.SourceLookupDirector"
        id="org.chromium.debug.ui.sourceLookupDirector" /> 
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
        class="org.chromium.debug.ui.editors.SourcePathComputerDelegate"
        id="org.chromium.debug.ui.sourcePathComputer" /> 
  </extension>

  <extension point="org.eclipse.debug.core.watchExpressionDelegates">
    <watchExpressionDelegate
        debugModel="org.chromium.debug"
        delegateClass="org.chromium.debug.ui.JsWatchExpressionDelegate"/>
  </extension>
  
  <extension point="org.eclipse.ui.editors">
    <editor
        name="JS Editor"
        extensions="js"
        default="true"
        icon="res/chromium_16.png"
        class="org.chromium.debug.ui.editors.JsEditor"
        id="org.chromium.debug.ui.editors.JsEditor">
    </editor>
  </extension>

  <extension point="org.eclipse.ui.editorActions">
    <editorContribution
        targetID="org.chromium.debug.ui.editors.JsEditor"
        id="org.chromium.debug.ui.editors.JsEditor.editorActions">
      <action
          label="Not Used"
          class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
          style="push"
          actionID="RulerDoubleClick"
          id="org.chromium.debug.ui.editor.ruler.doubleClickBreakpointAction"/>
      <action
          toolbarPath="evaluationGroup"
          id="org.chromium.debug.ui.SnippetInspect"
          definitionId="org.chromium.debug.ui.commands.Inspect"
          class="org.chromium.debug.ui.actions.JsInspectSnippetAction"
          enablesFor="+"
          label="Inspect"
          tooltip="Inspect Result of Evaluating Selected Text">
        <enablement>
          <and>
            <systemProperty
                name="org.chromium.debug.ui.debuggerActive"
                value="true"/>
            <objectClass
                name="org.eclipse.jface.text.ITextSelection"/>
          </and>
        </enablement>
      </action>
    </editorContribution>
  </extension>

  <extension point="org.eclipse.ui.contexts">
    <context
        name="Chromium Debug"
        parentId="org.eclipse.ui.contexts.dialogAndWindow"
        description="Debug Chromium JavaScript"
        id="org.chromium.debug.ui.editors.JsEditor.context">
    </context>
  </extension>

  <extension
      point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      <includes>
        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*" />
      </includes>
    </viewerContentBinding>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
        categoryId="org.eclipse.debug.ui.category.run"
        description="Modify breakpoint properties"
        name="Breakpoint Properties..."
        id="org.chromium.debug.ui.breakpoint.properties">
    </command>
    <command
        categoryId="org.eclipse.debug.ui.category.run"
        description="Inspect result of evaluating selected text"
        id="org.chromium.debug.ui.commands.Inspect"
        name="Inspect">
    </command>
  </extension>
   
  <extension point="org.eclipse.ui.bindings">
    <key
        sequence="M1+M2+I"
        contextId="org.chromium.debug.ui.editors.JsEditor.context"
        commandId="org.chromium.debug.ui.commands.Inspect"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">           
    <viewerContribution
        targetID="org.chromium.debug.ui.editors.JsEditor.ruler"
        id="org.chromium.debug.ui.editors.JsEditor.popupMenus">
        <action
            label="Toggle Breakpoint"
            class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="debug"
            id="org.chromium.debug.ui.actions.EnableDisableBreakpointAction"/>
        <action
            label="Breakpoint Properties..."
            class="org.chromium.debug.ui.actions.JsBreakpointPropertiesRulerActionDelegate"
            menubarPath="group.properties"
            id="org.chromium.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
        </action>
        <action
            label="Toggle Enablement"
            class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
            menubarPath="debug"
            id="org.chromium.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
        </action>
    </viewerContribution>
  </extension>

  <extension
         point="org.eclipse.ui.propertyPages">
    <page
        name="Breakpoint Properties"
        class="org.chromium.debug.ui.propertypages.JsLineBreakpointPage"
        id="org.chromium.debug.ui.propertypages.LineBreakpoints">
      <enabledWhen>
        <or>
          <instanceof
              value="org.chromium.debug.core.model.ChromiumLineBreakpoint">
          </instanceof>
          <adapt
              type="org.chromium.debug.core.model.ChromiumLineBreakpoint">
          </adapt>
        </or>
      </enabledWhen>
    </page>
  </extension>
</plugin>
