plugins/org.chromium.debug.core/.settings
plugins/org.chromium.debug.core/bin
plugins/org.chromium.debug.core.tests/.settings
plugins/org.chromium.debug.core.tests/bin
plugins/org.chromium.debug.ui/.settings
plugins/org.chromium.debug.ui/bin
plugins/org.chromium.sdk.tests/.settings
plugins/org.chromium.sdk.tests/bin
plugins/org.chromium.sdk/.settings
plugins/org.chromium.sdk/bin
plugins/org.chromium.sdk/build-output
plugins/org.chromium.sdk.wip.eclipse/.settings
plugins/org.chromium.sdk.wip.eclipse/bin
plugins/org.chromium.sdk.wipbackend.wk93101/.settings
plugins/org.chromium.sdk.wipbackend.wk93101/bin
plugins/org.chromium.sdk.wipbackend.wk97678/.settings
plugins/org.chromium.sdk.wipbackend.wk97678/bin
plugins/org.chromium.sdk.wipbackend.wk102439/.settings
plugins/org.chromium.sdk.wipbackend.wk102439/bin
plugins/org.chromium.sdk.wipbackend.protocol_1_0/.settings
plugins/org.chromium.sdk.wipbackend.protocol_1_0/bin
plugins/org.chromium.sdk.wipbackend.dev/.settings
plugins/org.chromium.sdk.wipbackend.dev/bin
plugins/org.chromium.debug.jsdtbridge/.settings
plugins/org.chromium.debug.jsdtbridge/bin
utils/org.chromium.sdk.tests.system/.settings
utils/org.chromium.sdk.tests.system/bin
utils/org.chromium.sdk.tests.system/build-output
utils/org.chromium.sdk.tests.system.runner/.settings
utils/org.chromium.sdk.tests.system.runner/bin
