<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.chromium.sdk.wipbackend.wk87771/src/org/chromium/sdk/internal/wip/tools/protocolgenerator/WipProtocolGeneratorMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.chromium.sdk.internal.wip.tools.protocolgenerator.WipProtocolGeneratorMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:org.chromium.sdk/src-wip-generated}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.chromium.sdk.wipbackend.wk87771"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
