<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2011 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<plugin>
   <extension
         point="org.chromium.sdk.wip.eclipse.WipBacked">
     <backend class="org.chromium.sdk.internal.wip.WipBackendImpl"/>
   </extension>

</plugin>
